@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e1e1e1;
    --foreground: black;
    --text-accent: #2c2c2c;
  }

  .dark {
    --background: #171717
    --foreground: #e1e1e1;
    --text-accent: #aaaaaa;
  }
}

h2 {
  margin-bottom: 8px;
  font-size: large;
}

::view-transition-group(root) {
  animation-duration: 1.25s;
}
::view-transition-new(root),
::view-transition-old(root) {
  mix-blend-mode: normal;
}
 
::view-transition-new(root) {
  animation-name: themeSwitch;
}

p {
  color: var(--text-accent)
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
}
.dark::view-transition-new(root) {
  animation-name: themeSwitch;
}
 
@keyframes themeSwitch {
  from {
    clip-path: circle(0% at 150% 50%);
  }
  to {
    clip-path: circle(150% at 50% 50%);
  }
}
@layer bg-background;
@layer text-foreground;