
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e1e1e1;
    --foreground: black;
  }

  .dark {
    --background: #171717
    --foreground: #e1e1e1;
  }
}
@layer bg-background;
@layer text-foreground;