/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Your default theme */
        --background: white;
        --foreground: black;
    }

    [data-theme='dark'] {
        --background: black;
        --foreground: white;
    }
}

@font-face {
    font-family: 'Geist';
    src: url('geist-regular-webfont.woff2') format('woff2'),
        url('geist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    p {
        @apply text-base dark:text-[#e1e1e1]
    }

    body {
        @apply bg-[#e1e1e1] dark:bg-[#171717] text-[var(--foreground)]
    }

}
@layer utilities {
    .animation-delay-75 {
      animation-delay: 75ms;
    }
    .animation-delay-500 {
      animation-delay: 500ms;
    }
    .animation-delay-1000 {
      animation-delay: 1s;
    }
  }
:root {
    view-transition-name: root; 
}
::view-transition-old(root), 
::view-transition-new(root) { 
    animation-duration: 0.3s; 
}